__pycache__/
*.pyc
*.pyo
*.pyd

media/

myapp/settings.py
migrate.py
imdb_top_1000.csv
movies.csv
db.sqlite3

get_movies_api.py
get_posters.py
convert_webp_to_jpg.py

users_clasters_generating.py

movie_ids.npy
movie_index.faiss