<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Авторизация - KinoMore</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
</head>
<body>
    {% include "header.html" %}
    <main class="auth-main">
        <h2>Авторизоваться</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
            <label for="{{ form.password.id_for_label }}">Пароль:</label>
            {{ form.password }}
            <button type="submit" class="auth-btn">Авторизоваться</button>
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>