<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация - KinoMore</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
</head>
<body>
    {% include "header.html" %}
    <main class="auth-main">
        <h2>Зарегистрироваться</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            <label for="{{ form.password1.id_for_label }}">Пароль:</label>
            {{ form.password1 }}
            <label for="{{ form.password2.id_for_label }}">Повторите пароль:</label>
            {{ form.password2 }}
            <button type="submit" class="auth-btn">Зарегистрироваться</button>
            {% if form.errors %}
                <div class="errors">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li> {{ error }} </li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li> {{ error }} </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>