<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О фильме</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <header>
        <h1>Cinema</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'search' %}">Поиск</a></li>
                {% if user.is_authenticated %}
                    <li><a href="">Избранное</a></li>
                    <li><a href="">Профиль: {{ user.username }}</a></li>
                    <li>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a href="#" onclick="document.getElementById('logout-form').submit()">Выход из аккаунта</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Авторизация</a></li>
                    <li><a href="{% url 'signup' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="movie-info">
            <div class="movie-poster">
                {% if movie.poster_link %}
                    <img src="{{ movie.poster_link }}" alt="{{ movie.movie_name }}" class="movie-poster">
                {% else %}
                    <div class="no-poster">Нет постера</div>
                {% endif %}
            </div>
        
            <div class="movie-details">
                <p><strong>Год:</strong> {{ movie.year }}</p>
                <p><strong>Жанр:</strong> {{ movie.genre }}</p>
                <p><strong>Режиссер:</strong> {{ movie.director }}</p>
                <p><strong>Рейтинг:</strong> {{ movie.rating|default:"Нет оценки" }}</p>
                <p><strong>Обзор:</strong> {{ movie.overview }}</p>
            </div>
        </div>
        <div class="btn-favorites">
            {% if user.is_authenticated %}
                {% if is_favorite %}
                    <a href="{% url 'remove_from_favorites' movie.id %}" class="btn" style="background: #f44336;">Удалить из избранного</a>
                {% else %}
                    <a href="{% url 'add_to_favorites' movie.id %}" class="btn" style="background: #4caf50;">В избранное</a>
                {% endif %}
            {% endif %}
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Cinema. All Rights Reserved.</p>
    </footer>
</body>
</html>