<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Найти фильм</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <header>
        <h1>Cinema</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'search' %}">Поиск</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'favorites' user.id%}">Избранное</a></li>
                    <li><a href="{% url 'profile' user.id%}">Профиль: {{ user.username }}</a></li>
                    <li>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a href="#" onclick="document.getElementById('logout-form').submit()">Выход из аккаунта</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Авторизация</a></li>
                    <li><a href="{% url 'signup' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h2>Фильмы</h2>
        <div class="filter-container">
            <form method="get">
                <label for="sort">Сортировать по: </label>
                <select id="sort" name="sort">
                    <option value="названию">названию</option>
                    <option value="рейтингу (сначала лучшие)">рейтингу (сначала лучшие)</option>
                    <option value="рейтингу (сначала худшие)">рейтингу (сначала худшие)</option>
                    <option value="году выхода (сначала новые)">году выхода (сначала новые)</option>
                    <option value="году выхода (сначала старые)">году выхода (сначала старые)</option>
                </select>
                <label for="genre">Жанр: </label>
                <select id="genre" name="genre">
                    <option value="Все">все</option>
                    <option value="Аниме">аниме</option>
                    <option value="Боевик">боевик</option>
                    <option value="Приключение">приключение</option>
                    <option value="Анимация">анимация</option>
                    <option value="Биография">биография</option>
                    <option value="Комедия">комедия</option>
                    <option value="Криминал">криминал</option>
                    <option value="Драма">драма</option>
                    <option value="Детектив">детектив</option>
                    <option value="Семейный">семейный</option>
                    <option value="Фэнтези">фэнтези</option>
                    <option value="Фильм-нуар">фильм-нуар</option>
                    <option value="Хоррор">хоррор</option>
                    <option value="История">история</option>
                    <option value="Музыка">музыка</option>
                    <option value="Мюзикл">мюзикл</option>
                    <option value="Мистика">мистика</option>
                    <option value="Мелодрама">мелодрама</option>
                    <option value="Фантастика">фантастика</option>
                    <option value="Спорт">спорт</option>
                    <option value="Триллер">триллер</option>
                    <option value="Военный">военный</option>
                    <option value="Вестерн">вестерн</option>
                </select>
                <button type="submit">Найти</button>
            </form>
        </div>
        <h5>Результаты: сортировать по {{ selected_sort }}, жанр - {{ selected_genre }}</h5>
        <div class="movie-gallery">
            {% for movie in movies %}
            <div class="movie-card">
                <img src="{{ movie.poster_link }}" alt="{{ movie.movie_name }}" width="24" height="18" class="movie-poster">
                <h4>{{ movie.movie_name }}</h4>
                <p>Год: {{ movie.year }}</p>
                <p class="long2">Режиссер: {{ movie.director }}</p>
                <p>Рейтинг: {{ movie.rating }}</p>
                <p class="long3">Жанр: {{ movie.genre }}</p>
                <div class="rating-div" id="rating">
                    {% if user.is_authenticated %}
                        {% if movie.id in user_favorites %}
                            <a href="{% url 'remove_from_favorites' movie.id %}" class="btn" style="background: #f44336;">Удалить</a>
                        {% else %}
                            <a href="{% url 'add_to_favorites' movie.id %}" class="btn" style="background: #4caf50;">В избранное</a>
                        {% endif %}
                    {% else %}
                        <a class="btn"></a>
                    {% endif %}
                    <a href="{% url 'movie_detail' movie.id %}" class="btn" style="background: #0000ff;">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Cinema. All Rights Reserved.</p>
    </footer>
</body>
</html>