<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
</head>
<body>
    <header>
        <h1>Cinema</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home page</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Registrate new user</h2>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
            <label for="{{ form.password2.id_for_label }}">Retype password:</label>
            {{ form.password2 }}
            <button type="submit">Registrate</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Cinema. All Rights Reserved.</p>
    </footer>
</body>
</html>